*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .container-fluid{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  [class*="col-"]{
    flex: 0 0 auto;
  }

